html {
	height: 100%;
}
body {
	display: table;
	font-family: 'Muli', sans-serif;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
}
.container, .intro {
	-webkit-animation: fadein 3s;
	-moz-animation: fadein 3s;
	-ms-animation: fadein 3s;
	-o-animation: fadein 3s;
	animation: fadein 3s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

h1, h2, h3, h4, h5, h6, p {
	color: $dark_grey;
	span {
		color: $main_blue;
	}
}
a {
	color: $main_blue;
	@include transition(0.3s);
	&:hover {
		color: $main_blue;
		opacity: 0.75;
	}
	&.align-right {
		position: absolute;
		top: 0;
		right: 15px;
		font-size: 18px;
	}
}
ul {
	li {
		list-style: circle;
	}
}
.button {
	background: transparent;
	border: 2px solid $medium_grey;
	font-weight: 300;
	color: $main_blue;
	text-transform: lowercase;
	margin: 0;
	padding: 10px 30px;
	@include transition(0.3s);
	@media only screen and (min-width: 0) {
		font-size: 24px;
    }
    @media only screen and (min-width: 768px) {
		font-size: 32px;
    }
    &:hover {
    	color: $main_white;
        background: $main_black;
        border: 2px solid $main_black;
    }
}
.block {
	margin: 100px 0;
	h4 {
		background: $light_grey;
		margin: 0 0 20px 0;
		padding: 20px;
	}
}
section {
	position: relative;
	overflow: hidden;
}