.background-image {
	width: 100%;
	background: url(../img/hero_background.jpg) no-repeat center 20%;
    @include transition(2s);
	@media only screen and (min-width: 0) {
		height: 450px;
		background-size: cover;
		background-attachment: inherit;
    }
    @media only screen and (min-width: 768px) {
		height: 600px;
		background-size: 100%;
		background-attachment: fixed;
		&:hover {
			background-size: 115%;
		}
    }
}
.background {
	position: relative;
	.foreground {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(128, 128, 128, .95);
		color: $main_white;
		padding: 30px;
		-webkit-transition: none;
  		-o-transition: none;
  		transition: none;
		h3 {
			font-size: 24px;
			color: $main_white;
			margin: 0 0 10px 0;
			padding: 0 0 10px 0;
			border-bottom: 1px solid #aaa;
		}
		ul {
			margin: 0 0 20px 0;
			li {
				font-size: 18px;
				ul {
					margin: 0 0 0 40px;
					li {
						list-style: circle;
					}
				}
			}
		}
	}
}