.image-wrapper {
	width: 300px;
	height: 300px;
	margin: 0 auto 25px auto;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	-o-border-radius: 150px;
	border-radius: 150px;
	overflow: hidden;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	&:hover {
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}
}